.tooltip {
  position: absolute;
  opacity: 0.8;
  z-index: 1000;
  text-align: left;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 8px;
  color:
  #fff;
  background-color:
  #000;
  font: 12px sans-serif;
  max-width: 300px;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4b5161;
}

#menu li {
  float: right;
  border-right: 1px solid #0726bf;
  height: 50%;
}

#menu li:last-of-type {
  border-left: 1px solid #0726bf;
}

#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#menu li a:hover:not(.active) {
  background-color: #31319a;
}

#menu .active {
  background-color: #4CAF50;
}

.graph-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.params {
    display: flex;
    flex-direction: column;
    width : 20%;
    margin: auto;
}

.sep {
  width: 80%;
  border-top: 2px solid #0a10bb;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
